@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: 1px solid red;
}

html,
body,
:root {
  height: 100%;
  @apply scroll-smooth;
}

body {
  margin: 0;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#light {
  @apply bg-slate-200 text-black;
}

#dark {
  @apply bg-[#0d1117] text-white;
}

#dark h4 a {
  @apply text-white;
}

#light .projects__card::before {
  @apply opacity-40;
}

.projects__card::before {
  @apply absolute bottom-0 left-0 right-0 top-0 -z-10 bg-[url('/noise.svg')] bg-cover opacity-10 content-[attr(before)];
}

.projects__card {
  @apply relative z-10 block w-[425px] select-none overflow-hidden rounded-xl bg-[#191e26] p-5 shadow-lg lg:transition-all lg:hover:scale-105;
}

#light .projects__card {
  @apply bg-slate-300;
}

.projects__card p {
  @apply my-[16px] text-center text-[16px];
}

.projects__card h3 {
  @apply pb-4 text-center text-xl font-semibold lg:text-2xl;
}

.projects__card img {
  @apply h-auto w-full rounded-md object-fill shadow-2xl transition-all hover:scale-105;
}

.projects__card .button {
  @apply mx-1 my-0.5;
}

.button {
  @apply inline-block cursor-pointer rounded-md border-none bg-[#008800] px-10 py-2 font-bold text-white no-underline transition hover:bg-[#2b611a];
}

.centered {
  @apply flex items-center justify-center;
}

.dotClass {
  @apply text-[1px];
}

.react-multi-carousel-item {
  @apply flex items-center justify-center;
}

.react-multi-carousel-list {
  @apply pb-5 lg:pb-8 lg:pt-3;
}

ul.react-multi-carousel-dot-list.dotClass {
  @apply relative;
}

*::-webkit-scrollbar {
  @apply w-1;
}

*::-webkit-scrollbar-track {
  @apply bg-[#0d1117];
}

*::-webkit-scrollbar-thumb {
  @apply rounded bg-[#008800];
}
