@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  outline: 1px solid red;
} */

html,
body,
:root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* ------------------------------------------------------ */
/* -- Projects -- */

.projects__card {
  display: block;
  width: 425px;
  flex: 0 0 auto;
  padding: 20px;
  border: 1px solid #008800;
  border-radius: 15px;
  overflow: hidden;
  user-select: none;
}

.projects__card h3 {
  @apply text-center text-xl font-semibold lg:text-2xl;
}

.projects__card p {
  font-size: 16px;
  margin: 20px 0;
}

.projects__card img {
  width: 100%;
  height: auto;
  margin: 20px 0 10px;
  border-radius: 8px;
}

.projects__card .button {
  margin: 10px 5px 0;
}

/* ------------------------------------------------------ */
/* -- HTML COMPONENTS: BUTTON -- */
.button {
  display: inline-block;
  background: #008800;
  padding: 15px 50px;
  border: none;
  border-radius: 8px;
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: all 250ms ease;

  /* @apply inline-block cursor-pointer rounded-lg border-none bg-[#008800] px-3 py-2 font-sans text-lg font-semibold text-white transition-all ease-in-out; */
}

.button:hover {
  background: white;
  color: #008800;
}

#light .button:hover {
  background: #2b611a;
  color: white;
}

.centered {
  @apply flex items-center justify-center;
}

.dotClass {
  font-size: 24px;
}

.react-multi-carousel-track {
  @apply p-2 !important;
}

ul.react-multi-carousel-dot-list.dotClass {
  @apply relative pt-5;
}

/* ------------------------------------------------------ */
/* -- DARK-MODE -- */
#light {
  background-color: #faf9f6;
  color: black;
}

#dark {
  background-color: #0d1117;
  color: white;
}

#dark h4 a {
  color: white;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

h4 a:hover {
  text-decoration: underline;
}

/* ------------------------------------------------------ */
/* -- SCROLL BAR -- */
/* Works on Firefox */
/* * {
  scrollbar-width: thin;
  scrollbar-color: #0d1117;
} */

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 3.5px;
}

*::-webkit-scrollbar-track {
  background: #0d1117;
}

*::-webkit-scrollbar-thumb {
  background-color: #008800;
  border-radius: 44px;
}
